/*Styles for Sedona*/

body {
    min-width: 1280px;
    
    padding: 0 40px;
    margin: 0;
    
    background-color: #f2f2f2;
    
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    font-family: "Pt Sans", "Arial", sans-serif;
    text-transform: uppercase;
}

b {
    font-size: 21px;
    line-height: 21px;
    color: white;
    font-weight: bold;
}

h2 {
    font-size: 21px;
    line-height: 26px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.container {
    width: 1200px;
    margin: 0 auto;
    
    background-color: white;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.main-header {
    padding: 0 73px;
    width: 1056px;
    margin: 0 auto;
    
    color: black;
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    
    background-color: white; 
}

.main-navigation {
    position: relative;
}

.logo {
    position: absolute;
    top: 0px;
    left: 50%;
    margin-left: -69px;
    
    width: 138px;
    height: 70px;
}

.main-navigation ul {
    position: relative;
    
    margin: 0;
    padding: 0;
    
    list-style: none;
    font-size: 0;
}

.main-navigation li {
    display: inline-block;
    
    width: 128px;
    
    font-size: 14px;
    line-height: 26px;
    vertical-align: top;
}

.main-navigation a {
    color: black;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.main-navigation a:hover {
    color: #81b3d2;
}

.main-navigation a:active {
    color: #c1c1c1;
}

.main-navigation a.current {
    color: #766357;
}

.main-navigation a.current:hover {
    color: #766357;
}

.main-navigation a.current:active {
    color: #d6d0cc;
}

.item-left {
    float: left;
    margin-right: 113px;
    padding: 15px 0;
}

.item-right {
    float: right;
    margin-left: 113px;
    padding: 15px 0;
    text-align: right;
}

.page-title {
    /*
    padding-top: 70px;
    padding-bottom: 90px;
    */
    width: 1200px;
    height: 508px;
    background-image: url(../img/title.jpg);
    background-position: 0 -56px;
}

.content {
    background-color: white;
}

.content-title {
    padding-top: 60px;
    padding-bottom: 51px;
    
    text-align: center;
}

.content h2 {
    margin: 0;
    margin-bottom: 28px;
}

.content p {
    margin: 0;
    padding: 0;
    
    font-size: 14px;
    line-height: 26px;
    color: #333333;
    text-transform: uppercase;
}

.banner {
    max-height: 256px;
}

.banner-text {
    width: 400px;
    
    background-color: #81b3d2;
    color: white;
    
    padding: 0;
    padding-top: 54px;
    padding-bottom: 53px;
    
    text-align: center;
}

.banner-text b {
    display: block;
    
    padding: 0;
    margin: 0;
    margin-bottom: 23px;
}

.banner-text .number,
.reasons-item .number {
    display: block;
    margin: 0;
    margin-bottom: 21px;
}

.banner-text p {
    padding: 0;
    margin: 0;
    
    color: white;
    font-size: 14px;
    line-height: 21px;
}

.banner-image {
    height: 256px;
    width: 800px;
}

.banner-image.right {
    background-image: url(../img/photo1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -80px; 
}

.banner-image.left {
    background-image: url(../img/photo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -80px; 
}

.left {
    float: left;
}

.right {
    float: right;
}

.features {
}

.features ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.feature-item { 
    position: relative;
    
    padding-top: 160px;
    padding-bottom: 82px;
    
    width: 400px;
    float: left;
    
    text-align: center;
}

.feature-item-image1 {
    position: absolute;
    bottom: 200px;
    left: 163px;
    
    width: 75px;
    height: 72px;
    
    background: url("../img/icon1.png") no-repeat;
}

.feature-item-image2 {
    position: absolute;
    bottom: 200px;
    left: 164px;
    
    width: 74px;
    height: 70px;
    
    background: url("../img/icon2.png") no-repeat;
}

.feature-item-image3 {
    position: absolute;
    bottom: 200px;
    right: 168px;
    
    width: 64px;
    height: 76px;
    
    background: url("../img/icon3.png") no-repeat;
}

.feature-item b {
    display: block;
    
    color: black;
    
    margin-bottom: 25px;
}

.feature-item p {
    font-size: 14px;
    line-height: 21px;
    
}

.reasons {
    background-color: #eeeeee;
    
    text-align: center;
    font-size: 14px;
    line-height: 21px;
    color: #333333;
}

.reasons ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.reasons-item {
    float: left;
    width: 400px;
    padding-top: 47px;
    padding-bottom: 60px;
    
    text-align: center;
}

.reasons-item b {
    display: block;
    margin-bottom: 25px;
    
    color: black;
}

.reasons-item p {
    margin: 0;
    padding: 0;
    line-height: inherit;
    font-size: inherit;
}

.offer {
    position: relative;
    
    background-color: white;
}

.offer-title {
    padding-top: 54px;
    padding-bottom: 133px;
    
    text-align: center;
}

.offer-title h2 {
    font-size: 30px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 30px;
}

.offer-title p {
    font-size: 14px;
    line-height: 24px;
    color: black;
    text-transform: uppercase;
    margin: 0;
}

.offer-form {
    position: absolute;
    top: 203px;
    left: 316px;
    
    width: 570px;
}


.offer-title-button {
    padding: 0;
    padding-top: 29px;
    padding-bottom: 31px;
    margin: 0;
    width: 570px;
    outline: none;
    border: none;
    
    font-size: 21px;
    line-height: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    
    background-color: #766357;
}

.hotel-search-form {
    display: none;
    
    padding: 57px;
    margin: 0;
    
    background-color: white;
    font-size: 14px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
}

.hotel-search-form-show {
    display: block;
}

.input-container {
    position: relative;
    margin-bottom: 28px;
    height: 39px;
}

.datapicker-button {
    position: absolute;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    
    cursor: pointer;
    
    top: 9px;
    right: 9px;
    
    width: 22px;
    height: 22px;
    
    background-image: url("../img/spritesheet.png");
    background-position: -9px -11px;
    background-color: #f2f2f2;
}

.datapicker-button:hover {
    background-position: -9px -53px;
}

.datapicker-button:active {
    background-position: -9px -95px;
}

.hotel-search-form label {
    float: left;
    display: block;
    width: 111px;
    padding: 4px 0;
}

.data-field {
    float: left;
    display: inline-block;
    position: relative;
    
    padding: 4px 12px;
    width: 320px;
    
    border: none;
    outline: none;
    
    
    background-color: #f2f2f2;
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
    color: black;
}

.data-field:hover {
    background-color: #ebebeb;
}

.data-field:focus {
    background-color: white; 
    border: 1px solid #e5e5e5;
    padding: 2px 10px;
    
}

.hotel-search-form .child-label {
    float: right;
    width: 66px;
}

.count-left {  
    float: left;
    font-size: 0px;
    margin-bottom: 52px;
}

.count-right {
    float: right;
    font-size: 0px;
}

.button-minus {
    display: inline-block;
    width: 40px;
    height: 40px;
    
    vertical-align: top;
    
    border: none;
    outline: none;
    background-color: #f2f2f2;
    
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: 4px -277px;
    
    cursor: pointer;
}

.button-minus:hover {
   background-position: 6px -323px; 
}

.button-minus:active {
   background-position: 5px -300px; 
}

.button-plus {
    display: inline-block;
    width: 40px;
    height: 40px;
    
    vertical-align: top;
    
    border: none;
    outline: none;
    background-color: #f2f2f2;
    
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    background-position: 5px -349px;
    
    cursor: pointer;
}

.button-plus:hover {
   background-position: 5px -380px; 
}

.button-plus:active {
   background-position: 5px -411px; 
}

.count-text {
    display: inline-block;
    
    width: 34px;
    padding: 7px 0;
    
    vertical-align: top;
    
    border: none;
    outline: none;
    
    background-color: #f2f2f2;
    
    font-size: 14px;
    text-align: center;
}

input[type="submit"] {
    clear: both;
    
    width: 100%;
    
    padding: 16px 0;
    color: white;
    background-color: #81b3d2;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
    text-transform: uppercase;
    font-family: "Pt Sans", "Arial", sans-serif;
    
    border: none;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #669ec0;
}

input[type="submit"]:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.offer-map {
    height: 593px;
    width: 1200px;
    
    background: white url(../img/map.jpg) no-repeat;
}

.page-footer {
    width: 1056px;
    padding-top: 35px;
    padding-bottom: 35px;
    padding-right: 73px;
    padding-left: 73px;
    margin: 0 auto;
    background-color: white;
}

.main-page-footer {
    margin-top: -125px;
    opacity: 0.9;
}

.footer-hashtag {
    float: left;
    width: 180px;
    margin-right: 88px;
    
    padding: 10px 0;
    padding-left: 60px;
    
    color: black;
    font-size: 21px;
    font-weight: bold;
    line-height: 26px;
}

.footer-social {
    float: left;
    width: 400px;
    
    text-align: center;
}

.social-btn {
    display: inline-block;
    width: 46px;
    height: 49px;
    margin: 0 1px;
    
    font-size: 0;
    vertical-align: top;
    text-decoration: none;
    
    background: #81b3d2 url("../img/spritesheet.png") no-repeat center;
}

.social-btn:hover {
    background-color: #669ec0;
}

.social-btn:active {
    background-color: #5496bd;
}

.social-btn-tw {
  background-position: 6px -440px;
}

.social-btn-fb {
  background-position: 8px -205px;
}

.social-btn-inst {
  background-position: 4px -243px;
}

.social-btn-tw:active {
  background-position: 6px -592px;
}

.social-btn-fb:active {
  background-position: 8px -477px;
}

.social-btn-inst:active {
  background-position: 4px -515px;
}

.footer-copyright {
    float: right;
    width: 227px; 
    
    padding: 4px 0;
    padding-bottom: 0;
}

.footer-copyright span{
    display: inline-block;
    margin-right: 6px;
    padding: 10px 0;
    vertical-align: top;
}

.footer-copyright a {
    display: inline-block;
    
    width: 113px;
    height: 39px;
    
    background-image: url("../img/html_logo.png");
}

.footer-copyright a:hover {  
    background-image: url("../img/html_logo-hvr.png");
}

.footer-copyright a:active {
    background-image: url("../img/html_logo-dwn.png");
}

.searchform-container {
    padding: 29px 73px;
    background: #253b4d url("../img/filter_background.png");
}

.search-form {
    width: 1056px;
    
    color: white;
}

.search-form legend {
    margin-bottom: 24px;
    
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
} 

.checkbox-block {
    float: left;
    width: 255px;
    
    border: none;
    margin: 0;
    padding: 0;
}

.checkbox-block ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.checkbox-block li {
    margin-bottom: 20px;
}

.checkbox-block li:nth-child(3n) {
    margin-bottom: 0;
}

input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label {
    display: block;
    line-height: 25px;
    padding-left: 40px;
    position: relative;
    cursor: pointer;
}

input[type="checkbox"] + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;   
    
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    
    width: 22px;
    height: 22px;
    background-position: -10px -567px;
}

input[type="checkbox"]:checked + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;   
    
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    
    width: 26px;
    height: 22px;
    background-position: -10px -136px;
}

input[type="checkbox"]:disabled + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;   
    
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    
    width: 26px;
    height: 22px;
    background-position: -10px -644px;
}

input[type="checkbox"]:checked:disabled + label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;   
    
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    
    width: 26px;
    height: 22px;
    background-position: -10px -178px;
}

.filter-range {
    float: right;
    width: 328px;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;

    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
    
    margin-left: 10px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    width: 2px;
    height: 22px;

    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;

    font-size: 14px;
    line-height: 30px;
    vertical-align: top;

    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 80px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;

    color: inherit;
    font: inherit;

    background: none;
    border: none;
    outline: none;
}

.range-controls {
    position: relative;

    margin-bottom: 32px;
    margin-left: 10px;
}

.range-controls .scale {
    height: 2px;

    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;

    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    
    width: 4px;
    height: 4px;

    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {  
    display: block;
    margin: 0 auto;
    padding: 6px 34px;

    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;

    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;

    background: #ffffff;
}

.search-results {
}

.search-results-panel {
    padding: 30px 73px;
}


.search-results-count {
    float: left;
    display: block;
    width: 165px;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
}

.search-results-sort {
    float: left;
    width: 564px;
    padding-top: 8px;
    
    font-size: 12px;
    line-height: 18px;
    color: black;
    
}

.search-results-sort span {
    float: left;
    display: block;
    width: 115px;
}

.search-results-sort ul {
    padding: 0;
    margin: 0;
    
    list-style: none;
    font-size: 0;
}

.search-results-sort li {
    display: inline-block;
    margin-right: 33px;
    
    font-size: 12px;
    
    vertical-align: bottom;
}

.search-results-sort a {
    color: #b1b1b1;
    text-decoration: none;
    border-bottom: 1px dotted #b1b1b1;
    border-bottom-color: #81b3d2;
}

.search-results-sort a:hover {
    color: #81b3d2;
}

.search-results-sort a:active {
    color: black;
    border-bottom: none;
}

.search-results-sort a.current {
    color: #81b3d2;
    text-decoration: none;
    border: none;
}


.search-results-buttons {
    position: relative;
    float: right;
    width: 35px;
    height: 20px;
}

.sort-up-button {
    position: absolute;
    bottom: 0;
    left: 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 0 5px 10px 5px;
    border-color: transparent transparent #81b3d2 transparent;
}

.sort-down-button {
    position: absolute;
    bottom: 0;
    right: 0;
    outline: none;
    cursor: pointer;
    background-color: white;
    width: 0;
    height: 0;
    padding: 0;
    border-style: solid;
    border-width: 10px 5px 0px 5px;
    border-color: #81b3d2 transparent transparent transparent;
}

.sort-up-button:hover {
    border-color: transparent transparent black transparent;
}

.sort-down-button:hover {
    border-color: black transparent transparent transparent;
}

.sort-up-button:active {
    border-color: transparent transparent #81b3d2 transparent;
}

.sort-down-button:active {
    border-color: #81b3d2 transparent transparent transparent;
}

.sort-up-button:disabled {
    border-color: transparent transparent #cccccc transparent;
}

.sort-down-button:disabled {
    border-color: #cccccc transparent transparent transparent;
}

.search-result-item {
    padding: 30px 73px;
    
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;;
    margin-bottom: -1px;
}

.search-result-item:last-child {
    margin-bottom: 0;
}

.item-content {
    position: relative;
    
    background-position: top right;
    background-repeat: no-repeat;
}

.item-amara {
    background-image: url(../img/four-stars.png);
}

.item-desert {
    background-image: url(../img/two-stars.png);
}

.item-villas {
    background-image: url(../img/three-stars.png);
}

.search-results-items ul {
    margin: 0;
    padding: 0;
    
    list-style: none;
}

.item-image {
    float: left;
    
    width: 135;
    height: 90;
    
    margin-right: 30px;
}

.description {
    position: relative;
    float: left;
    
    width: 259px;
    min-height: 90px;
}

.description h2 {
    margin: 0;
    margin-bottom: 6px;
    padding: 0;
    
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    
    margin-top: -3px;
}

.description h2 a {
    text-decoration: none;
    color: black;
}

.description h2 a:hover {
    color: #81b3d2;
}

.description h2 a:active {
    color: #cacaca;
}

.description span{
    float: left;
    display: block;
    width: 115px;
}

.btn-description {
    position: absolute;
    
    width: 110px;
    padding: 3px 0;
    text-align: center;
    
    background-color: #81b3d2;
    color: white;
    text-decoration: none;
    
    bottom: 0;
    left: 0;
}

.btn-description:hover {
    background-color: #669ec0;
}

.btn-description:active {
    background-color: #5496bd;
    color: #88b6d1;
}

.btn-bron {
    position: absolute;
    
    width: 142px;
    padding: 3px 0;
    text-align: center;
    
    color: white;
    background-color: #766357;
    text-decoration: none;
    
    bottom: 0;
    right: 0;
}

.btn-bron:hover {
    background-color: #604e43;
}

.btn-bron:active {
    background-color: #503e33;
    color: #857871;
}

.rating {
    position: absolute;
    display: block;
    width: 110px;
    
    right: 0;
    bottom: 0;
    
    padding: 3px 0;
    background-color: #f2f2f2;
    
    text-align: center;
}

